# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.idea
dist
build

bookmarkify-web/public/upload

# Node dependencies
node_modules
bookmarkify-api/bin
bookmarkify-api/build
bookmarkify-api/out
bookmarkify-api/target
bookmarkify-api/classes
bookmarkify-api/libs
bookmarkify-api/logs
bookmarkify-api/tmp

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.gradle


# Local env files
.env
!.env.example
