.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.test{
    border:3px dashed red;
}

.bookmark-icon{
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-title{
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(81, 81, 81);
  margin-bottom: 1rem;
}

.setting-subtitle{
  font-size: 0.85rem;
  color: #99a1af;
  margin-bottom: 0.4rem;
}