@mixin icon($icon-size, $icon-color,$svg-url) {
	display: inline-block;
	width: $icon-size;
	height: $icon-size;
	background-color: $icon-color;
	--svg: url("#{$svg-url}");
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.test{
    border:3px dashed red;
}

.bookmark-icon{
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
