@mixin icon($icon-size, $icon-color,$svg-url) {
	display: inline-block;
	width: $icon-size;
	height: $icon-size;
	background-color: $icon-color;
	--svg: url("#{$svg-url}");
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.icon{
    &--phone{@include icon(20px, gray, "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23000' d='M5.5 8a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm-1-7A1.5 1.5 0 0 0 3 2.5v7A1.5 1.5 0 0 0 4.5 11h3A1.5 1.5 0 0 0 9 9.5v-7A1.5 1.5 0 0 0 7.5 1zM4 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E")}
    &--mail{@include icon(20px, gray, "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23000' d='M3.5 3A1.5 1.5 0 0 0 2 4.5v3A1.5 1.5 0 0 0 3.5 9h5A1.5 1.5 0 0 0 10 7.5v-3A1.5 1.5 0 0 0 8.5 3zM3 4.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v.17L6 5.956L3 4.67zm0 1.258l2.803 1.201a.5.5 0 0 0 .394 0L9 5.758V7.5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E")}
}
