# Manually replace every REPLACE_FLAG with the actual value
# Manually replace every REPLACE_FLAG with the actual value
# Manually replace every REPLACE_FLAG with the actual value
# Manually replace every REPLACE_FLAG with the actual value

# If you're developing locally, you'll need to replicate and use these environments
export BOOKMARKIFY_GOOGLE_LOGIN_ID='REPLACE_FLAG'
export BOOKMARKIFY_POSTGRES_HOST='REPLACE_FLAG'
export BOOKMARKIFY_POSTGRES_USERNAME='REPLACE_FLAG'
export BOOKMARKIFY_POSTGRES_PASSWORD='REPLACE_FLAG'
export BOOKMARKIFY_REDIS_HOST='REPLACE_FLAG'
export BOOKMARKIFY_REDIS_PORT='REPLACE_FLAG'
export BOOKMARKIFY_REDIS_PASSWORD='REPLACE_FLAG'
export BOOKMARKIFY_LOG_DIR='REPLACE_FLAG'
export BOOKMARKIFY_FILE_UPLOAD_DIR='REPLACE_FLAG'
export BOOKMARKIFY_FILE_UPLOAD_PREFIX='REPLACE_FLAG'
export BOOKMARKIFY_WECHAT_WORK_CORPID='REPLACE_FLAG'
export BOOKMARKIFY_WECHAT_WORK_CORPSECRET='REPLACE_FLAG'
export BOOKMARKIFY_ALIYUN_OSS_ENDPOINT='REPLACE_FLAG'
export BOOKMARKIFY_ALIYUN_OSS_ACCESS_KEY_ID='REPLACE_FLAG'
export BOOKMARKIFY_ALIYUN_OSS_ACCESS_KEY_SECRET='REPLACE_FLAG'
export BOOKMARKIFY_ALIYUN_OSS_BUCKET_NAME='REPLACE_FLAG'
export BOOKMARKIFY_ALIYUN_OSS_DOMAIN='REPLACE_FLAG'
export BOOKMARKIFY_KAFKA_BOOTSTRAP_SERVERS='REPLACE_FLAG'