@import 'tailwindcss';
@plugin "daisyui" {
  prefix: 'cy-';
  themes: light --default, dark --prefersdark, cupcake;
}
@theme {
  /* --font-jersey10: 'jersey10', ui-sans-serif, system-ui, sans-serif; */
}
