@import 'tailwindcss';
@plugin "daisyui" {
  prefix: 'cy-';
  themes: light --default, dark --prefersdark, cupcake;
}
@theme {
  --font-jersey10: 'Jersey10', ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: 'Jersey10';
  src: url('../fonts/Jersey10-Regular.ttf') format('truetype');
}
